# Configuration Settings for NEO-M8U device

debug: 1                    # Range 0-4 (0 means no debug statements will print)

load:
  mask: 3103
  device: 2

save:
  mask: 3103                # Save I/O, Message, INF Message, Nav, Receiver 
                            # Manager, Antenna, and Logging Configuration
  device: 4                 # Save to EEPROM

device: /dev/ttyACM1        #/dev/ttyUSB0 = unpowered usb, /dev/ttyACM0 = serial to radio chip(via powered USB)
frame_id: m8u 
rate: 1                     # in Hz
nav_rate: 1                # [# of measurement cycles], recommended 1 Hz, may 
                            # be either 5 Hz (Dual constellation) or 
                            # 8 Hz (GPS only)
use_adr: true
dynamic_model: portable   # Airborne < 2G, 2D fix not supported (3D only), 
                            # Max Alt: 50km
                            # Max Horizontal Velocity: 250 m/s, 
                            # Max Vertical Velocity: 100 m/s
fix_mode: 3 
enable_ppp: false           # supported by NEO-M8U?
dr_limit: 2

uart1:
  baudrate: 115200           # NEO-M8U specific
  in: 16                     # 16 = RTCM 3
  out: 16                    # ?

gnss:
  gps: true
  glonass: true             # Supported by NEO-M8U
  beidou: false             # Supported by NEO-M8U
  qzss: true               # Supported by NEO-M8U
  galileo: true

dgnss_mode: 3               # Fix errors mode

inf: 
  all: true                   # Whether to display all INF messages in console

# Enable u-blox message publishers
publish:
  all: false

  hnr:
    pvt: false
